In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#read in csv file
data_analyst_file = "../Resources/DataAnalyst.csv"
analyst_df = pd.read_csv(data_analyst_file)
analyst_df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,TRUE
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,TRUE

In [3]:
# Create a filtered dataframe from specific columns
data_cols = ['Unnamed: 0','Job Title', 'Salary Estimate', 'Job Description', 
            'Rating', 'Company Name', 'Location', 'Size', 
            'Founded', 'Type of ownership', 'Industry', 'Sector', 'Revenue']
analyst_transformed= analyst_df[data_cols].copy()

In [4]:
# Rename the column headers
analyst_transformed = analyst_transformed.rename(columns={'Unnamed: 0': 'id',
                                                          'Salary Estimate': 'Glass Door Salary Estimate'})

# Set index
analyst_transformed.set_index("id", inplace=True)

analyst_transformed.head()

,Job Title,Glass Door Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
id,,,,,,,,,,,,
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD)
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD)
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD)
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD)

In [9]:
#filter 2 major cities - Los Angeles, CA & New York, NY
la_ny_df = analyst_transformed.loc[(analyst_transformed['Location'] == 'Los Angeles, CA')|\
                                   (analyst_transformed['Location'] == 'New York, NY')].copy()

la_ny_df.head()

,Job Title,Glass Door Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
id,,,,,,,,,,,,
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD)
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD)
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD)
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD)
...,...,...,...,...,...,...,...,...,...,...,...,...
683,SAP Master Data Analyst,$65K-$81K (Glassdoor est.),Please note that this is a 1 year contract pos...,2.5,"NetSource, Inc.\n2.5","Los Angeles, CA",51 to 200 employees,-1,Company - Private,Consumer Products Manufacturing,Manufacturing,$10 to $25 million (USD)
689,SAP Master Data Analyst,$113K-$132K (Glassdoor est.),Job Description\nJOB SUMMARY:\n\nFinance Trans...,-1.0,DT Professional Services,"Los Angeles, CA",1 to 50 employees,2013,Company - Public,-1,-1,Less than $1 million (USD)
690,Business Analyst Asset Data Management,$113K-$132K (Glassdoor est.),"Job Description\nNetwork Rail Consulting, Inc....",4.0,NRC INC\n4.0,"Los Angeles, CA",51 to 200 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable
707,Systems and Data Analyst,$113K-$132K (Glassdoor est.),Job Description\nAdvance knowledge in the foll...,2.4,To Help Everyone Health & Wellness Centers\n2.4,"Los Angeles, CA",201 to 500 employees,-1,Nonprofit Organization,-1,-1,Unknown / Non-Applicable
714,Sr. Data Analyst — US Safety,$113K-$132K (Glassdoor est.),Sr. Data Analyst — US Safety\nLos AngelesOpera...,3.8,TikTok\n3.8,"Los Angeles, CA",1001 to 5000 employees,2016,Company - Private,Internet,Information Technology,Unknown / Non-Applicable

In [19]:
#Clean up some of the columns by eliminating unwanted text
la_ny_df['Glass Door Salary Estimate']=la_ny_df['Glass Door Salary Estimate']\
    .str.replace("(Glassdoor est.)", "", regex=False)

la_ny_df['Revenue']=la_ny_df['Revenue']\
    .str.replace("Unknown / Non-Applicable", "Unknown", regex=False)

In [20]:
#reaplacing unknown values w/ "unknown"
la_ny_df.replace(to_replace = -1, value = "Unknown", inplace = True)
la_ny_df.replace(to_replace = "-1", value = "Unknown", inplace = True)
la_ny_df.head()

,Job Title,Glass Door Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
id,,,,,,,,,,,,
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K,Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD)
1,Quality Data Analyst,$37K-$66K,Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD)
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K,We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown
3,Data Analyst,$37K-$66K,Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD)
4,Reporting Data Analyst,$37K-$66K,ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD)

In [30]:
#show hoy many job titles are in Los Angeles, CA & New York, NY   
la_ny_group = la_ny_df.groupby('Location').agg({'Job Title': ['count']})
print(la_ny_group)

                Job Title
                    count
Location
Los Angeles, CA        80
New York, NY          310

In [15]:
#create the data base connection
connection_string = "postgres:postgres@localhost:5432/Data_Analyst_Jobs"
engine = create_engine(f'postgresql://{connection_string}')

In [18]:
#confrim table
engine.table_names()

['la_ny_table']

In [17]:
#load dataframe into database
la_ny_df.to_sql(name='la_ny_table', con=engine, if_exists='append', index=True)