In [30]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [31]:
csv_file = "../ETL-Project_Data-Anlyst-Postions/fulltimeLA.csv"
LA_data_df = pd.read_csv(csv_file)
LA_data_df.head()

,position,company,description,numreview,location
0,Institutional Review Board Analyst I - Office ...,USC,"<span id=""job_summary"" class=""summary""><div><p...",545 reviews,"Los Angeles, CA"
1,Analyst - Optimization,The Boston Consulting Group,"<span id=""job_summary"" class=""summary""><div><b...",198 reviews,"Los Angeles, CA"
2,Postdoctoral Research Associate,USC,"<span id=""job_summary"" class=""summary""><div><p...",545 reviews,"Los Angeles, CA"
3,Research Analyst,"SHIELDS for Families, Inc.","<span id=""job_summary"" class=""summary""><b>SUMM...",48 reviews,"Los Angeles, CA 90002"
4,Additive Materials and Process Scientist,Divergent 3D,"<span id=""job_summary"" class=""summary""><div><d...",NaN,"Los Angeles, CA"

In [32]:
clean_LA = LA_data_df
loca = LA_data_df['location']
LA = loca.str.contains('Los Angeles, CA')
LA

0      True
1      True
2      True
3      True
4      True
       ...
249    True
250    True
251    True
252    True
253    True
Name: location, Length: 254, dtype: bool

In [34]:
LA_data_df['location'] = np.where(LA, 'Los Angeles, CA',
                                               loca.str.replace('-', ' '))

In [36]:
new_LA_data_df = LA_data_df[['position', 'company', 'numreview','location']].copy()
new_LA_data_df.head()

,position,company,numreview,location
0,Institutional Review Board Analyst I - Office ...,USC,545 reviews,"Los Angeles, CA"
1,Analyst - Optimization,The Boston Consulting Group,198 reviews,"Los Angeles, CA"
2,Postdoctoral Research Associate,USC,545 reviews,"Los Angeles, CA"
3,Research Analyst,"SHIELDS for Families, Inc.",48 reviews,"Los Angeles, CA"
4,Additive Materials and Process Scientist,Divergent 3D,NaN,"Los Angeles, CA"

In [37]:
rds_connection_string = "project:project@localhost:5432/etl_project_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [38]:
engine.table_names()

[]

In [39]:
new_LA_data_df.to_sql(name='position', con=engine, if_exists='append', index=False)

In [40]:
new_LA_data_df.to_sql(name='company', con=engine, if_exists='append', index=False)

In [41]:
new_LA_data_df.to_sql(name='numreview', con=engine, if_exists='append', index=False)

In [42]:
new_LA_data_df.to_sql(name='location', con=engine, if_exists='append', index=False)

In [43]:
pd.read_sql_query('select * from position', con=engine).head()

,position,company,numreview,location
0,Institutional Review Board Analyst I - Office ...,USC,545 reviews,"Los Angeles, CA"
1,Analyst - Optimization,The Boston Consulting Group,198 reviews,"Los Angeles, CA"
2,Postdoctoral Research Associate,USC,545 reviews,"Los Angeles, CA"
3,Research Analyst,"SHIELDS for Families, Inc.",48 reviews,"Los Angeles, CA"
4,Additive Materials and Process Scientist,Divergent 3D,None,"Los Angeles, CA"

In [44]:
pd.read_sql_query('select * from company', con=engine).head()

,position,company,numreview,location
0,Institutional Review Board Analyst I - Office ...,USC,545 reviews,"Los Angeles, CA"
1,Analyst - Optimization,The Boston Consulting Group,198 reviews,"Los Angeles, CA"
2,Postdoctoral Research Associate,USC,545 reviews,"Los Angeles, CA"
3,Research Analyst,"SHIELDS for Families, Inc.",48 reviews,"Los Angeles, CA"
4,Additive Materials and Process Scientist,Divergent 3D,None,"Los Angeles, CA"